body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-size: 1.25rem;
  transition: background-color 0.3s ease-out;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Newsreader', serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}
